/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #000000;

}
.wrapper {
    margin-left:auto;
    margin-right:auto;
    margin-top:65px;
    width: 1110px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
}

.titulo{
    grid-column:  2 ;
    grid-row: 1;
    
 
}

  

.socializda{   
    grid-row: 1;
    grid-column: 1;
    margin-right: auto;
    display: block;
    min-width:100px;
}
.socialdcha{
    grid-row: 1;
    grid-column: 3;
    margin-left: auto;
    display: block;
    min-width:100px;
    
}
.socialdcha img{
    margin: 15px;
}
.socializda img{
    margin: 15px;
}
nav{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px; 
    display: flex;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    letter-spacing: 5.45455px;
    text-transform: uppercase;
    max-width: 750px;
}
nav a{
    text-align: center;
    align-self: center;
    margin: 0 auto;
    padding: 40px;
}
nav a:hover{
    color: #44C0FE;
}








.banner .fondo{
width: 100%;
}